# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Flutter
.build/
.dart_tool/
.packages
pubspec.lock
ios/Pods/
android/.gradle/
android/app/build/

# Rust
target/
Cargo.lock

# OS / IDE
.DS_Store
.idea/
.vscode/
EOF
